html {
  min-height: 100%
}

body {
  background-image: url('/images/calmbackground.jpg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%
}

textarea {
  font-size: large;
  width:200px;
  height:100px
}

#interim {
  height:43px
}
/* form {
  padding: 20px;
  margin-top: 60px
} */

/* form button, form h5{
  margin: 20px 0;
} */

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: green lighten-1;
  box-shadow: none;
}

#content-card {
  background-color: whitesmoke;
}

#rate-pitch {
  font-size: large;
}